h2{
    text-align: left;
    text-indent: 10px;
}

h3{
    text-align: left;
    text-indent: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h4{
    text-align: left;
    text-indent: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

p{
    text-indent: 10px;
    margin: 0;
}

header{
    text-align: left;
    text-indent: 10px;
}

.smallText{
    text-align: right;
    padding-right: 20px;
}

.secondColumn{
    text-align: right;
    padding-right: 4em;
}

.total{
    text-align: right;
    padding-right: 3em;
}

.container{
    text-align: center;
    position: relative;  
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.container2{
    display: grid;
    grid-template-columns: auto auto;
    gap: 2em;
}

.reservation{
    background-color: rgb(231, 233, 233);
    width: 40em;
    height: 22em;
    /* height: fit-content; */
}

.reservation2{
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    gap: 2em;
    margin: 0 auto;
    padding: 1px;
    background-color: rgb(233, 231, 231);
    width: 40em;
    height: fit-content;
}

.customerDescription{
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.2em;
    margin: 0 auto;
    padding: 1px;
    background-color: rgb(233, 231, 231);
    width: 40em;
    height: fit-content;
}

.checkbox{
    display: flex;
    margin-left: 15px;
    margin-bottom: 10px;
}

.checkbox p {
    margin-left: 0px; /* Adjust the distance between the checkbox and the text */
    margin-top: 10px;
}

.movieDescription{
    font-style: italic;
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.3em;
    margin: 0 auto;
    padding: 1px;
    background-color: rgb(233, 231, 231);
    width: 40em;
    height: fit-content;
}

.seat{
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2em;
    margin: 0 auto;
    padding: 1px;
    background-color: rgb(233, 231, 231);
    width: 40em;
    height: fit-content;
    box-shadow: inset -8px -8px 12px rgb(185, 191, 194),
                inset 8px 8px 12px rgb(215, 218, 219);
    border-radius: 10px;
}

.payment{
    position: relative;
    padding: 1px;
    background-color: rgb(233, 231, 231);
    width: 40em;
    height: 10em;
    /* height: fit-content; */
    box-shadow: inset -8px -8px 12px rgb(185, 191, 194),
                inset 8px 8px 12px rgb(215, 218, 219);
    border-radius: 10px;
}

.payment2{
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2em;
    margin: 0 auto;
    height: fit-content;
}

.cancelPayBtn{
    background-color: gray !important;
}

.paymentBtn{
    background-color: #007bff;
    color: white;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
}

.payIcon{
    width: 103px; 
    height: 100px;
    margin: 25px 0px -15px 140px;
}

.outside{
    width: 500px;
    background-color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #000;
    box-shadow: 24;
}

.modalContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: whitesmoke;
    /* border: 2px solid #000; */
    box-shadow: 24;
    box-shadow: inset -8px -8px 12px rgb(185, 191, 194),
                inset 8px 8px 12px rgb(215, 218, 219);
    border-radius: 10px;
}

.modalContent h2{
    text-align: center;
}

.modalContent p{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

/* .cancelBtn{
    background-color: gray !important;
    border-radius: 10px;
}

.confirmBtn{
    
} */

.addInfo{
    font-style: italic;
}

.successContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    text-align: center;
    background-color: whitesmoke;
    /* border: 2px solid #000; */
    box-shadow: 24;
    box-shadow: inset -8px -8px 12px rgb(185, 191, 194),
                inset 8px 8px 12px rgb(215, 218, 219);
    border-radius: 10px;
}

.successContent h2{
    text-align: center;
}

.success{
    background-color: #9BBCCA;
    height: 160px;
}

.successContent p{
    text-align: center;
}

.successIcon{
    width: 144px;
    height: 140px;
    align-content: center;
    margin: 10px 0px 0px 0px;
}

@media screen and (min-width: 1440px){
    .movie p {
        width: calc(33.33% - 10px); /* Three items per row on larger screens */
    }
}