h3{
    text-indent: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h4{
    text-indent: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

p{
    text-indent: 10px;
    margin: 0;
}

header{
    text-align: left;
    text-indent: 10px;
}

.smallText{
    text-align: right;
    padding-right: 20px;
}

.secondColumn{
    text-align: right;
    padding-right: 4em;
}

.total{
    text-align: right;
    padding-right: 3em;
}

.container{
    text-align: center;
    position: relative;  
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.container2{
    display: grid;
    grid-template-columns: auto auto;
    gap: 2em;
}

.reservation{
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    gap: 2em;
    margin: 0 auto;
    padding: 1px;
    background-color: rgb(233, 231, 231);
    width: 36em;
    height: 20em;
}

.seat{
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2em;
    margin: 0 auto;
    padding: 1px;
    background-color: rgb(233, 231, 231);
    width: 36em;
    height: fit-content;
}

.payment{
    text-align: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    padding: 1px;
    background-color: rgb(233, 231, 231);
    width: 36em;
    height: 15em;
}

@media screen and (min-width: 1440px){
    
}